<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css"> <!-- Link to your CSS file -->
    <title>Your Form Page</title>
</head>
<body>

    <div class="action-buttons">
        <h1>What would you like to visualize?</h1>
        <a href="/action1"><button>View past Risk Free rates</button></a>
        <a href="/action2"><button>View company prices</button></a>
        <a href="/action3"><button>firm returns relative to S&P 500</button></a>
        <a href="/action4"><button>Earning Per Share & Net Income</button></a>
        <a href="/action5"><button>Capital Budgeting ratios</button></a>
    </div>
</body>
</html>
